/*all style*/
#auth button:active {
    opacity: .8;
}

/*fim all style*/

#auth {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    padding-right: calc(var(--padding-body) - 5px - var(--scroll));
}

#auth .row-wrap {
    width: 99.9%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

#auth .row-wrap .divider h1 {
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--primary-color);
}

#auth .row-wrap .divider {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px 1.033%;
}

#auth .row-wrap .divider .wrap {
    width: 24.2%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#auth .row-wrap .divider label {
    font-size: 13px;
    color: var(--text-black-weak);
}

#auth .row-wrap .divider input,
#auth .row-wrap .divider textarea {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 4px;
    padding: 0 10px;
    outline: none;
    font-size: 12px;
    color: var(--text-black-weak);
    background-color: var(--background-input);
    border: 1px solid #ccc;
}

#auth .row-wrap .divider input:focus,
#auth .row-wrap .divider textarea:focus {
    background-color: var(--background-input-focus);
    border: 1px solid #afafafc0;
}

#auth .row-wrap .divider .obs {
    width: 100%;
}

#auth .row-wrap .divider textarea {
    padding: 10px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 100px;
}

#auth .row-wrap .divider .show-option {
    background-color: var(--background-input);
    border: 1px solid #ccc;
}

#auth .row-wrap .divider .line label {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    color: var(--text-black-weak);
}

#auth .row-wrap .divider .line input {
    display: none;
}

#auth .row-wrap .mostrar-foto {
    align-items: center;
    flex-direction: column;
}

#auth .row-wrap .mostrar-foto .status-foto {
    color: var(--text-black-weak);
    font-size: 11px;
}

#auth .row-wrap .divider .foto {
    width: 120px;
    height: 130px;
    border-radius: 8px;
}

#auth .row-wrap .divider .foto img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

#auth .row-wrap .btn {
    width: 100%;
    display: flex;
    gap: 10px;
}

#auth .row-wrap .btn button {
    border-radius: 4px;
    border: 0;
    letter-spacing: 1px;
    font-size: 12px;
    transition: .3s;
}
