.none {
    width: 1px;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: calc(var(--height-header) + var(--padding-body));
    padding-left: calc(var(--width-side) + var(--padding-body));
    padding-bottom: 15px;
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

/*all style*/
button {
    cursor: pointer;
}

input {
    outline: none;
}

/*fim all style*/

/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--height-header);
    display: flex;
    background-color: white;
    border-bottom: 1px solid var(--border-black-weak);
    z-index: 1;
}

header figure {
    width: var(--width-side);
    padding-left: 25px;
    display: flex;
    align-items: center;
    justify-content: start;
}

header figure img {
    height: 35px;
}

header .inline {
    width: calc(100% - var(--width-side));
    padding-left: var(--padding-body);
    padding-right: var(--padding-body);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .right {
    width: 420px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    position: relative;
}

header .right .icons {
    height: 100%;
    display: flex;
    gap: 1.3rem;
    align-items: center;
    justify-content: space-between;
}

header .right .icons button,
header .right .icons a {
    background-color: transparent;
    border: none;
    display: flex;
    transition: .2s;
}

header .right .icons button:hover,
header .right .icons a:hover,
header .notification:hover {
    transform: scale(1.03);
}

header .right .icons button:active,
header .right .icons a:active,
header .notification:active {
    opacity: .7;
}

header .right .icons button img,
header .right .icons a img {
    width: 22px;
    height: 22px;
}

header #alertar img {
    width: 25px;
    height: 25px;
}

header .notification {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .3s;
}

header .notification .count {
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
}

header .profile {
    width: 260px;
    height: var(--height-header);
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}


header .profile .around {
    width: 100%;
    height: var(--height-header);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    justify-content: start;
}

header .profile #avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
    border: 2px solid var(--text-black-weak);
}

header .profile .around .info {
    width: 60%;
}

header .profile .around h4 {
    font-size: 12px;
    color: #605B5B;
    margin-bottom: 6px;
}

header .profile .around p {
    font-size: 11px;
    color: var(--primary-color);
    text-transform: capitalize;
}

header .profile .around button {
    display: flex;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

header .profile .around button img {
    width: 13px;
    height: 15x;
}

header .profile ul {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: var(--background-gray-light);
    border: 1px solid #cccccc77;
    z-index: 99;
    position: relative;
    box-shadow: 0 2px 4px 1px rgba(108, 108, 108, 0.303);
}

header .profile li {
    list-style: none;
    display: flex;
    width: 100%;
}

header .profile li a,
header .profile li #logout {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    color: var(--text-black-weak);
    transition: .1s;
}

header .profile li a:hover {
    background-color: var(--primary-color);
    color: white;
}

header .profile li #logout {
    border: none;
    background-color: transparent;
    color: var(--primary-color);
}

header .profile li #logout:hover {
    background-color: var(--primary-color);
    color: white;
}

/*sidebar*/

#sidebar {
    width: var(--width-side);
    position: fixed;
    top: var(--height-header);
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-right: 1px solid var(--border-black-weak);
    z-index: 1;
}

#sidebar #nav {
    display: grid;
    width: 99%;
    gap: 5px;
    overflow-y: scroll;
    padding: 10px 5%;
    margin: 2px 0;
}

/*scrollbar*/
#sidebar #nav::-webkit-scrollbar {
    background-color: transparent;
    width: var(--scroll-min);
    border-radius: 0;
}

#sidebar #nav::-webkit-scrollbar-thumb {
    border-radius: 2px;
}

/*fim scrollbar*/
#sidebar #nav .divider {
    font-size: 10px;
    text-transform: uppercase;
    color: #7c7a7ae5;
    margin-top: 15px;
    margin-bottom: 6px;
}

#sidebar #nav li {
    list-style: none;
}

#sidebar #nav li ul {
    display: flex;
    flex-direction: column;
    height: 0px;
    overflow: hidden;
    border-left: 1px solid var(--border-black-weak);
    width: auto;
    gap: 2px;
    margin-left: 35px;
    padding-left: 5px;
    transition: .2s ease-in-out;
}

#sidebar #nav li ul a {
    height: 35px;
    font-size: 12px;

}

#sidebar #nav li a .sideDown {
    width: 11px;
    height: 11px;
    transform: rotate(-90deg);
}


#sidebar #nav li a {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 0 10px;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    text-decoration: none;
    font-size: 12px;
    color: var(--text-black-weak);
    transition: .1s;
}

#sidebar #nav li a:hover {
    background-color: var(--primary-color-transparent);
    color: white;
}

#sidebar #nav li a:hover img {
    filter: invert(1) brightness(3);
}

#sidebar #nav li a img {
    width: 17px;
    height: 17px;
    filter: invert(0);
}

#sidebar .profile-state {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border-top: 1px solid var(--border-black-weak);
}



/*side left*/

/*all style*/
.side-right button:active {
    opacity: .8;
}

/*fim all style*/
.side-right {
    width: 0;
    top: var(--height-header);
    right: 0;
    background-color: white;
    display: none;
    flex-direction: column;
    gap: 10px;
    overflow-x: hidden;
    position: fixed;
    padding: 15px 5px 30px 20px;
    border-left: 1px solid var(--border-black-weak);
    z-index: 10;
}

.side-right .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
}

.side-right .header h1 {
    color: var(--primary-color);
    font-size: 16px;
}

.side-right .header button {
    background-color: transparent;
    border: none;
    transition: .2s;
}

.side-right .header img {
    width: 24px;
}

.side-notification .line {
    display: flex;
    width: 100%;
    gap: 5px;
}

.side-notification {
    height: calc(100vh - var(--height-header));
}

.side-notification .line button {
    background-color: transparent;
    border: 0;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 11px;
    transition: .2s;
    color: var(--text-black-weak);
}

.side-notification .line button:hover {
    background-color: #ff5b20ab;
    color: white;
}

.side-notification .itens {
    width: 100%;
    height: 94%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    padding-right: 19px;
}

.side-notification .itens::-webkit-scrollbar {
    width: var(--scroll-min);
}

.side-notification .itens .block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--border-black-weak);
}

.side-notification .itens .block .header {
    padding-right: 0;
}

.side-notification .itens .block .header h2 {
    font-size: 14px;
    color: var(--text-black-bold);
}

.side-notification .itens .block .header button {
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    font-size: 12px;
}

.side-notification .itens .block .inline {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 5px;
}

.side-notification .itens .block .inline figure img {
    width: 45px;
    height: 45px;
    border: 1px solid var(--border-black-weak);
    border-radius: 50%;
}

.side-notification .itens .block .inline .info {
    color: var(--text-black-weak);
}

.side-notification .itens .block .inline .info p {
    font-size: 12px;
    text-align: start;
}

.side-notification .itens .block .inline .info p span {
    font-size: 13px;
    font-weight: 600;
}

.side-notification .itens .block .inline .info .flex {
    display: flex;
    gap: 20px;
    margin: 5px 0;
}

.side-notification .itens .block .inline .info .flex span {
    font-size: 11px;
}

.side-notification .itens .block .inline .info .flex h3 {
    font-size: 11px;
    color: var(--primary-color-hover);
}

.side-notification .itens .block .inline .info .btn-inline {
    display: flex;
    gap: 15px;
}

.side-notification .itens .block .inline .info .btn-inline button {
    background-color: transparent;
    width: 60px;
    height: 24px;
    border-radius: 4px;
    font-size: 10px;
    color: var(--text-black-weak);
    border: 1px solid var(--text-black-weak);
    transition: .2s;
}

.side-notification .itens .block .inline .info .btn-inline .adjacente:hover {
    background-color: var(--background-black-weak);
    color: white;
}

.side-notification .itens .block .inline .info .btn-inline .principal {
    background-color: var(--background-black-weak);
    color: white;
}

.side-notification .itens .block .inline .info .btn-inline .principal:hover {
    background-color: rgba(0, 0, 0, 0.719);
}


/*side-mensagem*/

.side-mensagem {
    border-bottom-left-radius: 6px;
    border-bottom: 1px solid var(--border-black-weak);
}

.side-mensagem .setor {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.side-mensagem .setor .user {
    width: 100%;
    padding-right: 28px;
}

.side-mensagem .setor .user div {
    display: flex;
    width: 100%;
    gap: 15px;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-black-weak);
}

.side-mensagem .setor .user div img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--border-black-weak);
}

.side-mensagem .setor .user div h2 {
    font-size: 15px;
    color: var(--text-black-bold);
}

.side-mensagem .setor .chat {
    display: flex;
    width: 100%;
    height: 360px;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    padding-right: 20px;
}

.side-mensagem .setor .chat::-webkit-scrollbar {
    width: var(--scroll-min);
}

.side-mensagem .setor .chat .wrap {
    width: 100%;
    display: flex;
    gap: 3px;
    flex-direction: column;
}

.side-mensagem .setor .chat .wrap .mensagem {
    max-width: 75%;
    padding: 10px;
    display: flex;
    border-radius: 6px;
}

.side-mensagem .setor .chat .wrap .mensagem p {
    font-size: 12px;
    text-align: start;
    line-height: 14px;
    letter-spacing: .8px;
}

.side-mensagem .setor .chat .wrap p {
    font-size: 10px;
    color: var(--text-black-weak);
}

.side-mensagem .setor .chat #receptor {
    align-content: start;
}

.side-mensagem .setor .chat #receptor .mensagem {
    background-color: var(--background-input);
}

.side-mensagem .setor .chat #receptor .mensagem p {
    color: var(--text-black-bold);
}

.side-mensagem .setor .chat #emissor {
    align-items: end;
}

.side-mensagem .setor .chat #emissor .mensagem {
    background-color: var(--primary-color);
}

.side-mensagem .setor .chat #emissor .mensagem p {
    color: white;
}

.side-mensagem .setor footer {
    width: 100%;
    display: flex;
    padding-right: 28px;
}

.side-mensagem .setor footer .send {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-black-weak);
    padding: 0 10px;
    border-radius: 6px;
}

.side-mensagem .setor footer .send button {
    background-color: transparent;
    border: none;
    width: 10%;
}

.side-mensagem .setor footer .send button img {
    width: 20px;
    height: 20px;
    filter: invert(1) brightness(3);
}

.side-mensagem .setor footer .send button[type="submit"] img {
    width: 16px;
    height: 16px;
}

.side-mensagem .setor footer .send input {
    width: 75%;
    font-size: 13px;
    color: white;
    outline: none;
    border: none;
    background-color: transparent;
}

/*search filter*/
.inline-search {
    width: 100%;
    height: 35px;
    display: flex;
    gap: 10px;
    position: relative;
    justify-content: flex-end;
}

.inline-search form {
    display: flex;
    gap: 12px;
    height: 31px;
}

.inline-search .search {
    width: 280px;
    height: 100%;
    display: flex;
    border-radius: 5px;
    border: 1px solid var(--border-black-weak);
}

.inline-search .search input {
    width: 85%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 15px;
    background-color: transparent;
    font-size: 11px;
    color: var(--text-black-weak);
}

.inline-search .search button {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: .2s;
}

.inline-search .search button:hover {
    background-color: #e9e5e5a4;
}

.inline-search .search button:active img {
    transform: scale(0.95);
}

.inline-search .search button img {
    width: 16px;
    height: 16px;
}

.inline-search .filter {
    min-width: 130px;
}

.inline-search .filter .show-option {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 10px;
    border: 1px solid var(--border-black-weak);
    border-radius: 5px;
    color: var(--text-black-weak);
    font-size: 11px;
    gap: 8px;
    cursor: pointer;
    background-color: transparent;
}

.inline-search .filter .select-option {
    height: 25px;
    font-size: 11px;
}

.inline-search .filter img {
    width: 18px;
    height: 16px;
}

/*fim search filter*/